<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<environments default="jdbc">
		<environment id="jdbc">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@172.30.1.89:1521:orcl" />
				<property name="username" value="system" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>
</configuration>
